<div class="col-xs-4 book-item">
  <img src="<%=book.imageUrl%>" alt="" class="book-img">
  <p class="book-title"><%=book.title%></p>
  <p class="book-title"><%=book.author%></p>
  <p class="book-subtitle"><%=book.genre%></p>
  <a href="/book/loan/<%=book._id%>" class="loan-book">LOAN THIS BOOK</a>
</div>
